@import url('https://fonts.cdnfonts.com/css/public-pixel');
   
.pixel-font{
    font-family: 'Public Pixel', sans-serif;
}

.bubble {
position: relative;
margin: 20px;
font-family:monospace;
background-color: #fff;
color: #000;
padding: 8px;
box-shadow: 0 -4px #fff, 0 -8px #000, 4px 0 #fff, 4px -4px #000, 8px 0 #000, 0 4px #fff, 0 8px #000, -4px 0 #fff, -4px 4px #000, -8px 0 #000, -4px -4px #000, 4px 4px #000;
box-sizing: border-box;
width: fit-content;
}
.bubble::after {
content: "";
display: block;
position: absolute;
box-sizing: border-box;
}
.bubble.left::after {
height: 4px;
width: 4px;
top: 20px;
left: -8px;
background: white;
box-shadow: -4px -4px #fff, -4px 0 #fff, -8px 0 #fff, 0 -8px #fff, -4px 4px #000, -8px 4px #000, -12px 4px #000, -16px 4px #000, -12px 0 #000, -8px -4px #000, -4px -8px #000, 0 -4px #fff;
}

.opAnimate{
    font-family: 'Public Pixel', sans-serif;
    animation: disappear 1.5s ease-in;
    color: #FF00EE
}

@keyframes disappear {
    to{
        opacity: 0%;
    }
}